In [1]:
import pandas as pd

In [4]:
# reading the dataset 
demo_data= pd.read_sas("DEMO_L.xpt", format="xport")
print(demo_data)

           SEQN  SDDSRVYR  RIDSTATR  RIAGENDR  RIDAGEYR  RIDAGEMN  RIDRETH1  \
0      130378.0      12.0       2.0       1.0      43.0       NaN       5.0
1      130379.0      12.0       2.0       1.0      66.0       NaN       3.0
2      130380.0      12.0       2.0       2.0      44.0       NaN       2.0
3      130381.0      12.0       2.0       2.0       5.0       NaN       5.0
4      130382.0      12.0       2.0       1.0       2.0       NaN       3.0
...         ...       ...       ...       ...       ...       ...       ...
11928  142306.0      12.0       2.0       1.0       9.0       NaN       2.0
11929  142307.0      12.0       2.0       2.0      49.0       NaN       4.0
11930  142308.0      12.0       2.0       1.0      50.0       NaN       2.0
11931  142309.0      12.0       2.0       1.0      40.0       NaN       2.0
11932  142310.0      12.0       2.0       2.0      80.0       NaN       3.0

       RIDRETH3  RIDEXMON  RIDEXAGM  ...  DMDHRGND  DMDHRAGZ  DMDHREDZ  \
0           6.0       2.0       NaN  ...       NaN       NaN       NaN
1           3.0       2.0       NaN  ...       NaN       NaN       NaN
2           2.0       1.0       NaN  ...       NaN       NaN       NaN
3           7.0       1.0      71.0  ...       2.0       2.0       2.0
4           3.0       2.0      34.0  ...       2.0       2.0       3.0
...         ...       ...       ...  ...       ...       ...       ...
11928       2.0       1.0     111.0  ...       1.0       3.0       3.0
11929       4.0       2.0       NaN  ...       NaN       NaN       NaN
11930       2.0       1.0       NaN  ...       NaN       NaN       NaN
11931       2.0       1.0       NaN  ...       NaN       NaN       NaN
11932       3.0       1.0       NaN  ...       NaN       NaN       NaN

       DMDHRMAZ  DMDHSEDZ      WTINT2YR      WTMEC2YR  SDMVSTRA  SDMVPSU  \
0           NaN       NaN  50055.450807  54374.463898     173.0      2.0
1           NaN       NaN  29087.450605  34084.721548     173.0      2.0
2           NaN       NaN  80062.674301  81196.277992     174.0      1.0
3           3.0       NaN  38807.268902  55698.607106     182.0      2.0
4           1.0       2.0  30607.519774  36434.146346     182.0      2.0
...         ...       ...           ...           ...       ...      ...
11928       3.0       NaN  11147.192563  13459.129019     176.0      1.0
11929       NaN       NaN  69419.620456  64962.328962     181.0      1.0
11930       NaN       NaN  32696.313477  44367.534132     183.0      2.0
11931       NaN       NaN  30547.974564  46249.361849     176.0      1.0
11932       NaN       NaN  32753.585494  49647.225467     187.0      2.0

       INDFMPIR
0          5.00
1          5.00
2          1.41
3          1.53
4          3.60
...         ...
11928      2.01
11929       NaN
11930      1.95
11931      3.11
11932      5.00

[11933 rows x 27 columns]

In [6]:
bp_data= pd.read_sas("BPXO_L.xpt", format="xport")
bp_data

,SEQN,BPAOARM,BPAOCSZ,BPXOSY1,BPXODI1,BPXOSY2,BPXODI2,BPXOSY3,BPXODI3,BPXOPLS1,BPXOPLS2,BPXOPLS3
0,130378.0,b'R',4.0,135.0,98.0,131.0,96.0,132.0,94.0,82.0,79.0,82.0
1,130379.0,b'R',4.0,121.0,84.0,117.0,76.0,113.0,76.0,72.0,71.0,73.0
2,130380.0,b'R',4.0,111.0,79.0,112.0,80.0,104.0,76.0,84.0,83.0,77.0
3,130386.0,b'R',4.0,110.0,72.0,120.0,74.0,115.0,75.0,59.0,64.0,64.0
4,130387.0,b'R',4.0,143.0,76.0,136.0,74.0,145.0,78.0,80.0,80.0,77.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7796,142306.0,b'R',2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7797,142307.0,b'R',4.0,127.0,75.0,132.0,73.0,131.0,72.0,71.0,70.0,67.0
7798,142308.0,b'R',3.0,106.0,65.0,106.0,69.0,112.0,74.0,58.0,61.0,69.0
7799,142309.0,b'R',3.0,127.0,81.0,125.0,82.0,128.0,81.0,80.0,79.0,83.0
7800,142310.0,b'R',4.0,128.0,81.0,121.0,78.0,129.0,81.0,77.0,78.0,79.0

In [8]:
bm_data= pd.read_sas("BMX_L.xpt", format="xport")
bm_data

,SEQN,BMDSTATS,BMXWT,BMIWT,BMXRECUM,BMIRECUM,BMXHEAD,BMIHEAD,BMXHT,BMIHT,...,BMXLEG,BMILEG,BMXARML,BMIARML,BMXARMC,BMIARMC,BMXWAIST,BMIWAIST,BMXHIP,BMIHIP
0,130378.0,1.0,86.9,NaN,NaN,NaN,NaN,NaN,179.5,NaN,...,42.8,NaN,42.0,NaN,35.7,NaN,98.3,NaN,102.9,NaN
1,130379.0,1.0,101.8,NaN,NaN,NaN,NaN,NaN,174.2,NaN,...,38.5,NaN,38.7,NaN,33.7,NaN,114.7,NaN,112.4,NaN
2,130380.0,1.0,69.4,NaN,NaN,NaN,NaN,NaN,152.9,NaN,...,38.5,NaN,35.5,NaN,36.3,NaN,93.5,NaN,98.0,NaN
3,130381.0,1.0,34.3,NaN,NaN,NaN,NaN,NaN,120.1,NaN,...,NaN,NaN,25.4,NaN,23.4,NaN,70.4,NaN,NaN,NaN
4,130382.0,3.0,13.6,NaN,NaN,1.0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8855,142306.0,1.0,25.3,NaN,NaN,NaN,NaN,NaN,128.0,NaN,...,32.0,NaN,25.0,NaN,19.0,NaN,57.7,NaN,NaN,NaN
8856,142307.0,3.0,NaN,1.0,NaN,NaN,NaN,NaN,143.8,NaN,...,NaN,1.0,34.0,NaN,35.4,NaN,NaN,1.0,NaN,1.0
8857,142308.0,1.0,79.3,NaN,NaN,NaN,NaN,NaN,173.3,NaN,...,41.8,NaN,40.0,NaN,30.6,NaN,98.4,NaN,97.7,NaN
8858,142309.0,1.0,81.9,NaN,NaN,NaN,NaN,NaN,179.1,NaN,...,44.0,NaN,40.0,NaN,30.8,NaN,96.0,NaN,103.3,NaN
8859,142310.0,1.0,72.1,NaN,NaN,NaN,NaN,NaN,161.7,NaN,...,34.2,NaN,34.0,NaN,33.5,NaN,110.8,NaN,115.0,NaN