In [2]:
import pandas as pd

In [6]:
def demo_xpt_to_csv(input_path, output_path):
    try:
        df = pd.read_sas(input_path, format='xport')
        print(df.head())

        condition = ~((df['RIAGENDR'] == 1) | ((df['RIDAGEYR'] < 20) | (df['RIDAGEYR'] > 45)))
        df_filtered = df[condition]
        #Deleting specific columns
        columns_to_delete = ['RIDAGEMN', 'RIDEXAGM', 'DMDHRGND', 'DMDHRAGZ', 'DMDHRMAZ','DNDHRMAZ', 'DMDHSEDZ', 'DMDHREDZ',  'DMDYRUSR']
        for col in columns_to_delete:
            if col in df_filtered.columns:
                df_filtered = df_filtered.drop(columns = [col])
            
        print("\nFiltered Data")
        print(df_filtered.head())
        df_filtered.to_csv(output_path, index=False)
    except Exception as e:
        print(f"Error: {e}")        
    

demo_xpt_to_csv('Demo_L.xpt', 'Filtered_Demo.csv')

       SEQN  SDDSRVYR  RIDSTATR  RIAGENDR  RIDAGEYR  RIDAGEMN  RIDRETH1  \
0  130378.0      12.0       2.0       1.0      43.0       NaN       5.0
1  130379.0      12.0       2.0       1.0      66.0       NaN       3.0
2  130380.0      12.0       2.0       2.0      44.0       NaN       2.0
3  130381.0      12.0       2.0       2.0       5.0       NaN       5.0
4  130382.0      12.0       2.0       1.0       2.0       NaN       3.0

   RIDRETH3  RIDEXMON  RIDEXAGM  ...  DMDHRGND  DMDHRAGZ  DMDHREDZ  DMDHRMAZ  \
0       6.0       2.0       NaN  ...       NaN       NaN       NaN       NaN
1       3.0       2.0       NaN  ...       NaN       NaN       NaN       NaN
2       2.0       1.0       NaN  ...       NaN       NaN       NaN       NaN
3       7.0       1.0      71.0  ...       2.0       2.0       2.0       3.0
4       3.0       2.0      34.0  ...       2.0       2.0       3.0       1.0

   DMDHSEDZ      WTINT2YR      WTMEC2YR  SDMVSTRA  SDMVPSU  INDFMPIR
0       NaN  50055.450807  54374.463898     173.0      2.0      5.00
1       NaN  29087.450605  34084.721548     173.0      2.0      5.00
2       NaN  80062.674301  81196.277992     174.0      1.0      1.41
3       NaN  38807.268902  55698.607106     182.0      2.0      1.53
4       2.0  30607.519774  36434.146346     182.0      2.0      3.60

[5 rows x 27 columns]

Filtered Data
        SEQN  SDDSRVYR  RIDSTATR  RIAGENDR  RIDAGEYR  RIDRETH1  RIDRETH3  \
2   130380.0      12.0       2.0       2.0      44.0       2.0       2.0
10  130388.0      12.0       2.0       2.0      27.0       4.0       4.0
12  130390.0      12.0       2.0       2.0      31.0       3.0       3.0
13  130391.0      12.0       2.0       2.0      33.0       3.0       3.0
17  130395.0      12.0       2.0       2.0      33.0       5.0       7.0

    RIDEXMON  DMQMILIZ  DMDBORN4  DMDEDUC2  DMDMARTZ  RIDEXPRG  DMDHHSIZ  \
2        1.0       2.0       2.0       3.0       1.0       2.0       7.0
10       1.0       2.0       1.0       4.0       1.0       2.0       5.0
12       2.0       1.0       1.0       3.0       1.0       2.0       5.0
13       2.0       2.0       1.0       3.0       3.0       2.0       3.0
17       2.0       2.0       1.0       3.0       3.0       2.0       1.0

        WTINT2YR      WTMEC2YR  SDMVSTRA  SDMVPSU  INDFMPIR
2   80062.674301  81196.277992     174.0      1.0      1.41
10  22234.443573  30329.536432     187.0      1.0      0.81
12  36895.283578  56314.156949     185.0      2.0      2.16
13  45423.073281  60330.824308     186.0      2.0      0.93
17  18277.659785  21603.418111     173.0      1.0      1.10

In [8]:
def filtered_fertin(input_path):
    try:
        df = pd.read_sas(input_path, format='xport')
        print('Original Data')
        print(f"\n{df}")
    except Exception as e:
        print(f"Error {e}")
filtered_fertin('FERTIN_L.xpt')

Original Data

          SEQN       WTPH2YR  LBXFER  LBDFERSI
0     130380.0  8.532884e+04   13.30     13.30
1     130381.0  5.397605e-79     NaN       NaN
2     130382.0  5.963893e+04   24.40     24.40
3     130388.0  3.286429e+04     NaN       NaN
4     130390.0  6.142701e+04   52.10     52.10
...        ...           ...     ...       ...
2559  142280.0  6.639765e+04   66.40     66.40
2560  142282.0  5.397605e-79     NaN       NaN
2561  142283.0  1.527882e+05   31.60     31.60
2562  142300.0  3.147068e+04    5.69      5.69
2563  142307.0  6.899418e+04  286.00    286.00

[2564 rows x 4 columns]

In [5]:
def vid_xpt_to_csv(input_data_path):
    try:
        df = pd.read_sas(input_data_path, format='xport')
        print('Original Data')
        print(f"\n{df}")
    except Exception as e:
        print(f"Error: {e}")
vid_xpt_to_csv('VID_L.xpt')

Original Data

          SEQN       WTPH2YR  LBXVIDMS      LBDVIDLC  LBXVD2MS  LBDVD2LC  \
0     130378.0  5.604213e+04      58.9  5.397605e-79      1.57       1.0
1     130379.0  3.743571e+04      60.5  5.397605e-79      1.57       1.0
2     130380.0  8.532884e+04      39.4  5.397605e-79      1.57       1.0
3     130381.0  5.397605e-79       NaN           NaN       NaN       NaN
4     130382.0  5.963893e+04       NaN           NaN       NaN       NaN
...        ...           ...       ...           ...       ...       ...
8722  142306.0  5.397605e-79       NaN           NaN       NaN       NaN
8723  142307.0  6.899418e+04     147.0  5.397605e-79      1.57       1.0
8724  142308.0  5.397605e-79       NaN           NaN       NaN       NaN
8725  142309.0  4.628442e+04      17.8  5.397605e-79      1.57       1.0
8726  142310.0  5.325082e+04     136.0  5.397605e-79      1.57       1.0

      LBXVD3MS      LBDVD3LC  LBXVE3MS      LBDVE3LC
0         57.3  5.397605e-79      2.47  5.397605e-79
1         58.9  5.397605e-79      3.40  5.397605e-79
2         37.8  5.397605e-79      1.52  5.397605e-79
3          NaN           NaN       NaN           NaN
4          NaN           NaN       NaN           NaN
...        ...           ...       ...           ...
8722       NaN           NaN       NaN           NaN
8723     145.0  5.397605e-79     15.90  5.397605e-79
8724       NaN           NaN       NaN           NaN
8725      16.2  5.397605e-79      0.78  5.397605e-79
8726     134.0  5.397605e-79      9.28  5.397605e-79

[8727 rows x 10 columns]